/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #337ab7;
  font-weight: bold;
  margin-top: 20px;
}

/* Form Styles */

form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus {
  border-color: #337ab7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Submit Button Styles */
button[type="submit"] {
  background-color: #4CAF50; /* Green color */
  background-image: linear-gradient(to bottom, #4CAF50, #3e8e41); /* Gradient effect */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow */
}

button[type="submit"]:hover {
  background-color: #3e8e41; /* Darker green color on hover */
  background-image: linear-gradient(to bottom, #3e8e41, #2f6c33); /* Gradient effect on hover */
}

button[type="submit"]:active {
  background-color: #3e8e41; /* Darker green color on active */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Deeper box shadow on active */
}

/* Link Styles */

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  text-decoration: underline;
  color: #23527c;
}

/* Responsive Design */

@media (max-width: 768px) {
  form {
    padding: 10px;
  }
  input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
    padding: 5px;
  }
}