/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007bff; /* Bootstrap primary color */
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #2c3e50;
  font-weight: bold;
  font-size: 2.5em;
  margin: 10px 0 30px 0; /* Added top margin and adjusted bottom margin */
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  background: linear-gradient(to right, #ecf0f1, #bdc3c7);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #337ab7;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 a {
  text-decoration: none;
  color: #337ab7;
}

h2 a:hover {
  color: #23527c;
}

/* Table Styles */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px auto;
}

thead {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color: #333;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.edit-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #3e8e41;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}

/* logout button styles */

.logout {
  position: absolute;
  top: 85px;
  right: 10px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout:hover {
  background-color: #cc0000;
}

.logout a {
  color: #fff;
  text-decoration: none;
}

.logout a:hover {
  text-decoration: underline;
}

/* Add this to make the absolute positioning work correctly */
body {
  position: relative;
}

/* Responsive Design */

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
  th {
    padding: 5px;
  }
  td {
    padding: 5px;
  }
  td img {
    width: 30px;
    height: 30px;
  }

 
}